// https://material.io/guidelines/style/color.html
// https://material.io/color/#!/?view.left=1&view.right=0&secondary.color=2196F3&primary.color=263238&primary.text.color=ffffff&secondary.text.color=000000

// Blue Grey 900
$material-primary-color: #263238;
$material-primary-light-color: #4f5b62;
$material-primary-dark-color: #000a12;
$material-primary-text-color: #ffffff;

// Blue 500
$material-secondary-color: #2196f3;
$material-secondary-light-color: #6ec6ff;
$material-secondary-dark-color: #0069c0;
$material-secondary-text-color: #000000;