// https://material.io/guidelines/style/color.html
// https://material.io/color/#!/?view.left=1&view.right=0&secondary.color=1565C0&primary.color=263238&primary.text.color=ffffff&secondary.text.color=ffffff

$material-primary-color: #263238;
$material-primary-light-color: #4f5b62;
$material-primary-dark-color: #000a12;
$material-primary-text-color: #ffffff;
$material-secondary-color: #1565c0;
$material-secondary-light-color: #5e92f3;
$material-secondary-dark-color: #003c8f;
$material-secondary-text-color: #ffffff;