--- 
layout: default 
title: History 
subtitle: Ivalice Alliance Historia 
description: A comprehensive history of when the clan was created through present.
icon: fas fa-book
---

<h2>Preface</h2>
<p>
  The Ivalice Alliance clan has been around since 2008, and for the first time the history is being published. Almost every
  forum post is still available, but that doesn't cover the entire clan history. This is an attempt to fill in the gaps,
  and preserve the history of our clan. We want all members to know the story of our clan, who we are, and why we do things
  a certain way. The primary focus of this history will be about our clan's beginnings.
</p>
<p class="text-right">
  <img src="https://i.imgur.com/3QUcD.png" style="width: 40%; max-width: 222px; height: auto;" alt="Balthier's signature">
</p>

<h4>Acronyms</h4>
<ul>
  <li>IA - Ivalice Alliance</li>
  <li>FFC - Final Fantasy Chronicles</li>
  <li>FFE - Final Fantasy Elite</li>
</ul>

<h2>Backstory</h2>
<p>The clan history does not begin with the founding of the clan in 2008. The clan's origins actually stem from another clan,
  Final Fantasy Chronicles (FFC). Strangely, that clan's origins also stemmed from another clan. The original "Final Fantasy
  themed" clan was called "Final Fantasy Elite", but unfortunately there is little to no documented history of it. A good
  bit of history about FFC has been preserved, and we still have some members today that were previous FFC members. There
  have been other Final Fantasy themed clans, but none of them were more established and lasted as long as the three clans.</p>
<p>
  <a href="https://z9.invisionfree.com/Final_Fantasy_Elite/index.php" target="_blank">FFE (2002–2006)</a> → FFC (June 2006–May 2010) → IA (February 2008–???)</p>
<p>As problems within FFE escalated, it ultimately lead to the formation of a new clan, FFC.</p>

<blockquote>
  <p>
    My fellow FFE Members,
  </p>
  <p>
    Although I have gone through great times with some of you, I'm afraid I must depart. I'm afraid my vision of FFE can't happen.
    After the rebellion that took place June 19th, my image has been ruined. After seeing the members siding with everyone
    so quickly, my leadership is never going to be the same as it used to be. I wanted FFE to be not only a good place to
    chat, but a good place to game. FFE cannot be this due to immaturity that lies within the clan. Sooner or later, FFE
    will turn into Town Square, nothing but chatting and immature comments. If you want a gaming clan.. follow me. Yuffie
    and Kain are joining me to a new clan. Anyone else that wants to come is welcome.
  </p>
  <cite>FFC-Butz</cite>
</blockquote>

<p>
  <a href="https://www.ivalicealliance.net/history/ffc_final_history.html" target="_blank">
    Here is a copy of the final history of FFC
  </a> before it was removed. FFC and FFE coexisted for sometime, albeit on unfriendly terms until FFE's end.
</p>

<h3>2007 — Second Half</h3>
<p>I found out about FFC through a recruitment bot in the Clan Recruitment channel. At the time, I was looking for a clan to
  join, but I was tired of joining clans that were only around for a few weeks and disappeared. Those clans did not provide
  camaraderie or friendship and it really made you feel that you were just another number to them. When I learned of FFC,
  it seemed like a pretty good clan that was organized and well established. I was also a Final Fantasy fan, so I thought
  it was worth a try. After joining and becoming a member, I became friends with a good portion of the clan and enjoyed it,
  except for a few things. I noticed the leadership seemed weak in the clan, and significant problems in the clan were never
  really resolved. Any argument, disagreement, or breaking of fairly arbitrary rules that were randomly enforced resulted
  in an immediate permanent ban from the clan. The main leaders at the time, FFC-Butz and FFC-Yuffie, seemed pretty disconnected
  from the rest of the clan. Golbez was also one of the leaders at the time, and he seemed to be the only reasonable voice
  the leadership had, but even he had to quarrel with the other leaders to prevent some members from being removed over a
  moody person with a ban hammer.
</p>

<p>After about a month or two in the clan, I had an epiphany. After evaluating the routines and day to day operations of the
  clan, I noted just about everything was manually done and the website was terrible with no updated information. I had an
  idea to create them a good site that any clan admin could add new posts to, an easy to manage member list and rank system,
  and a unique character engine in which every member was given RPG-like stats they could level up from simply participating
  in clan activities such as gaming, meetings, etc. I presented this idea to their leader, FFC-Butz, at the time and he really
  liked the idea. This was about October of 2007. I spent the next three to four months working on this project in my spare
  time.
</p>

<div class="grid-container text-center">
  <div class="grid-x grid-padding-x small-up-1 medium-up-2">

    <div class="cell">
      <div class="card">
        <div class="card-image">
          <img src="https://www.ivalicealliance.net/history/images/design.png" alt="Prototype website design">
        </div>
        <div class="card-section pas">
          <p>
            <small>Prototype website design</small>
          </p>
        </div>
      </div>
    </div>

    <div class="cell">
      <div class="card">
        <div class="card-image">
          <img src="https://www.ivalicealliance.net/history/images/ffcwebpreview.jpg" alt="Website preview design">
        </div>
        <div class="card-section pas">
          <p>
            <small>Website preview design</small>
          </p>
        </div>
      </div>
    </div>

    <div class="cell">
      <div class="card">
        <div class="card-image">
          <img src="https://www.ivalicealliance.net/history/images/ffcnmodel.png" alt="News flowchart">
        </div>
        <div class="card-section pas">
          <p>
            <small>News flowchart</small>
          </p>
        </div>
      </div>
    </div>

    <div class="cell">
      <div class="card">
        <div class="card-image">
          <img src="https://www.ivalicealliance.net/history/images/forumsig.png" alt="Prototype character card forum signature">
        </div>
        <div class="card-section pas">
          <p>
            <small>Prototype character card forum signature</small>
          </p>
        </div>
      </div>
    </div>

    <div class="cell">
      <div class="card">
        <div class="card-image">
          <img src="https://www.ivalicealliance.net/history/images/golbezcard.png" alt="First concept character card">
        </div>
        <div class="card-section pas">
          <p>
            <small>First concept character card</small>
          </p>
        </div>
      </div>
    </div>

    <div class="cell">
      <div class="card">
        <div class="card-image">
          <img src="https://www.ivalicealliance.net/history/images/ffcpmodel.png" alt="Character management flowchart and finished character card">
        </div>
        <div class="card-section pas">
          <p>
            <small>Character management flowchart and finished card</small>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<p>During this time, I had also provided uniformly stylized avatars to the entire clan (
  <strong>
    <a href="https://www.ivalicealliance.net/forums/index.php/topic,2808.0.html">FFC Avatar Collection</a>
  </strong>). Most of the clan members seemed to enjoy them, but for some reason that is still unknown to me, one of the leaders,
  FFC-Yuffie, told me I was no longer allowed to make avatars for other clan members. "She" did not want anyone else making
  avatars and did not recognize or appreciate the work of others. As my project came to a close and finished testing around
  January 2008, I presented the finished product to the clan leaders. FFC-Golbez and FFC-Butz both liked the finished product,
  but one person, FFC-Yuffie refused to approve it for clan use. It didn't make sense to me why I was given approval to make
  this for clan use months ago, and as it was finished to just have the work done in vain. "She"
  <strong>
    <a href="https://clanffch.webs.com/" target="_blank">wanted to use some freewebs site because it looked like a newspaper</a>
  </strong>.
</p>

<p>
  <strong>
    <a href="https://www.ivalicealliance.net/history/ffcarchive_pub/adios.txt">
      Here's a chat log that illustrates my points and shows the character of this "Yuffie" person.
    </a>
  </strong>
</p>

<div class="grid-container text-center">
  <div class="grid-x grid-padding-x align-center small-up-1 medium-up-2">
    <div class="cell">
      <div class="card">
        <div class="card-image">
          <img src="https://www.ivalicealliance.net/history/images/ffcnewspaper.png" alt="Website resembling a newspaper with ads">
        </div>
        <div class="card-section pas">
          <p>
            <small>The site FFC chose.</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<p>
  Of course I would argue for my work to be used, because I believed the clan would have been much better had this system been
  used. If I had originally been told the clan was not interested in my project, then there would have been no issues. Or
  if their clan simply used it, history would be completely different and it's likely IA would never have been established.
</p>

<p>
  These issues continued to escalate among the leadership and members, and many clan members had learned of what happened to
  me. I was banned from the channel, but not quite kicked out of the clan yet. I really liked the friends I had in FFC, but
  one leader could not stand me at all for selfish reasons. I wanted to start a new clan, but because of my work obligations
  at the time, I knew there was no reasonable way I could lead a clan by myself. Golbez was pretty fed up with the way FFC
  was handling things too. I talked things over with him, and we were going to start a new FF clan together called Final
  Fantasy Revolution (FFR). After a day or two, Golbez decided to go back to FFC and was able to resolve the issues he had
  with those other leaders.
</p>

<p>A day or two later, I was removed from the clan on Feb 2nd, 2008 by Butz and Yuffie.</p>

<p>Here are FFC-Butz' parting words. The unusual screen names were from the era when AIM was still used for chatting.
  <ul>
    <li>IA-Balthier, as FF4Cecil</li>
    <li>FFC-Butz, as dafrigginstud</li>
  </ul>
</p>
<blockquote>
  {% include_relative _history/log_final_butz.html %}
</blockquote>
<p>
  No further commentary is needed on this
  <strong>great piece of irony</strong>. Within three months of my removal from the clan, FFC-Butz resigned as leader from FFC and
  left their clan. I do have to say he did make a great choice in whom replaced him as leader: FFC-Rinoa. FFC-Yuffie was
  never able to be the leader "she" always wanted to be and I suspect the selfish issues "she" created and the poor decision
  to get me removed from the clan had a lot to do with this.
</p>

<h2>History</h2>
<h3>2008</h3>
<p>
  Immediately after I was removed, I wasn't sure what to do. I really wanted a clan like FFC, and I was eager to use the project
  I had completed. After carefully considering my options, I decided it was best for me to create my own FF clan free of
  all the problems and troubles in FFC. In order for the new clan to succeed under my command, I knew I would need a reliable
  co-leader. That same night I was removed from FFC, I had a chance meeting with Instinct121 (known as Luke, and formerly
  IA-Sephiroth). He had never been in a Final Fantasy related clan which was definitely a plus since there was really no
  question of loyalty. I had interviewed him and was happy that we shared very similar ideals of what a clan should be. We
  agreed to both have 50/50 ownership of the clan and he would be in charge during any of my absences due to work obligations.
  The name of the clan had not been picked yet. Instead of opting for FFR, we decided to settle on "Ivalice Alliance" since
  it had a nicer ring to it, and Square-Enix was heavily promoting it at the time with their games set in Ivalice. The name
  was also more appealing since the "Alliance" part of the name particularly strikes as a strong symbol of honor and friendship.
</p>

<p>
  Thus the clan was founded February 2nd, 2008. It's interesting to note that we kept records of our founding date and launch
  date. The reason for this is at the time of its founding, we had no assets ready. During the following two weeks, I converted
  over the website I made for FFC to be IA, thought carefully about the clan structure, ranks, and rules. I also setup the
  forums, domain, and made the necessary changes to the FFC character engine to make it work with IA's new site and branding.
</p>

<p>
  After quality assurance testing was completed, the clan officially launched on February 17, 2008. When some of FFC's dissatisfied
  members found out about this, they immediately joined the clan. Some very notable contributors at the beginning were IA-Reno
  (the first Judge), and IA-Doom (whom helped us setup our WC3 channel). The early days of the clan were possibly the toughest
  time since we did not have any set routine for day to day operations, and our member count and activity was very low. We
  were not a proven clan with stability.
</p>

<p>
  We wanted to create a clan free from oppression, arbitrary rules that were selectively enforced, and have an entirely approachable
  leadership. In our clan, banning a member is the LAST resort when we try to resolve clan issues. The rules are very clear
  and concise. To this day, we have only added one rule for an administrative purpose.
</p>

<p>
  For the majority of 2008, Instinct121 maintained day to day operations and contributed heavily in promoting clan activity
  an recruiting. Towards the end of the year, issues with FFC had greatly cooled down with some minor conflicts. We successfully
  created a new, independent, and stable Final Fantasy themed clan.
</p>

<p>
  During the first year, we had three members reach the Level 75 cap: IA-Cloud (now known as IA-Sephiroth), IA-Squall, and
  Instinct121.
</p>

<div class="grid-container text-center">
  <div class="grid-x grid-padding-x align-center small-up-1 medium-up-2">

    <div class="cell">
      <div class="card">
        <div class="card-image">
          <img src="https://www.ivalicealliance.net/history/images/ie8iarender2.png" alt="A fine looking website">
        </div>
        <div class="card-section pas">
          <p>
            <small>
              <strong>
                <a href="https://www.ivalicealliance.net/history/v1/">
                  Launch website
                </a>
              </strong>
            </small>
          </p>
        </div>
      </div>
    </div>

    <div class="cell">
      <div class="card">
        <div class="card-image">
          <img src="https://www.ivalicealliance.net/history/images/ia_charcard_na2x.png" alt="Rendering of character card">
        </div>
        <div class="card-section pas">
          <p>
            <small>Character card</small>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<h3>2009</h3>
<p>
  Towards the end of 2009, the Ivalice Alliance Character Engine (ICE) was overhauled and greatly improved. In version 1, experience
  points were only rewarded for playing Brood War and Frozen Throne games, along with a fixed number of job classes and a
  level cap of 75. The new upgrade rewarded experience points for posting on the forums, increased the level cap to 99, and
  the ability to create new job classes at any time. The clan bot, IA-Dreadnought also received an upgrade in which it would
  greet any clan member that entered the channel with their character information.
</p>

<p>
  IA-Setzer greatly contributed to the clan's art by fulfilling a substantial amount of avatar and signature requests.
</p>

<h3>2010</h3>
<p>
  As 2010 started, issues began to escalate again with FFC. We were accused of "stealing" members, when in fact members that
  left FFC or were kicked out decided to join IA simply because they no longer wanted to be involved with FFC. In this year,
  our membership was at its peak with over 100 members and a high percentage active. We had two game host bots running on
  WC3, one of them being a custom built one for specifically IA's purposes and rules.
</p>

<p>
  In April of 2010, with the help of Razeluxe, FFC and IA finally made peace and were able to work out our issues. Shortly
  after, FFC disbanded in May of 2010. Many members simply disappeared from the scene.
</p>

<p>
  Here is a working version of the
  <strong>
    <a href="https://www.ivalicealliance.net/history/v1/ffc_compare/" target="_blank">
      FFC Comparison Site
    </a>
  </strong>
</p>

<p>
  Starcraft 2 had launched in the summer of this year, and we fully supported the game.
</p>

<p>
  At the end of the year, the IA website and forums were completely overhauled. The character system and Final Fantasy theme
  was removed because we saw that it greatly hindered our ability to recruit on new games like Starcraft 2 where you could
  not easily just make a new username. We also introduced the "Name Changer" feature which allowed members a one time name
  change. This is why today we have members that have usernames unrelated to Final Fantasy. We recognized that classic battle.net
  was becoming less active. Thus we moved our primary focus to the new battle.net.
</p>

<p>
  There were plans for a new version of the character engine, but we did not finish the project.
</p>

<h3>2011</h3>
<p>
  A tough year for the clan since we were having difficulty getting new membership. We decided to leave classic battle.net
  as it was too difficult to maintain and most of the clan members no longer were interested in it.
</p>

<p>
  The Final Fantasy theme was reintroduced to the clan as an optional component to stay with the clan's roots, but not hinder
  our ability to recruit. It was a good compromise.
</p>

<p>
  In the summer of 2011 to make the clan more active, we decided to introduce "Game Night", a weekly scheduled night in which
  members of the clan gather at a designated time to play a specified game. "Game Nights" was a success in the Summer, and
  we continued to host Game Nights for each season of the year.
</p>

<h3>2012</h3>
<p>
  In this year, we decided to experiment with expanding the clan to Steam, PSN, and use Skype for communications. Steam and
  PSN did not go over so well since the game diversity is too great and there were not many games clan members had in common
  on those platforms. We did however continue to use Skype as our primary communications.
</p>

<p>
  With Diablo 3's release this year, our clan became focused primarily Starcraft 2 and Diablo 3. We are doing well again with
  clan activity, participation, and growth.
</p>

<p>
  During the Summer, we created a "Clan RPG" event, in which the clan would play through an RPG together and discuss it weekly.
  The first Clan RPG was Breath of Fire. Most of the clan did not find the game enjoyable that attempted a playthrough. Setzer
  is the only member to have completed the game.
</p>

<h3>2013</h3>
<p>
  With the release of the "Heart of the Swarm" expansion to Starcraft II, the clan had been established on Starcraft II using
  the new clan tools provided. This clan history was also published as a comprehensive look clan's beginning and significant
  events throughout the years. A Clan RPG event for Final Fantasy V was played throughout the summer where members would
  play to designated points through out the season.
</p>

<h3>2014</h3>
<p>
  The only significant event in 2014 was the clan rallying up to craft the L70 Hellfire rings that were newly introduced in
  Diablo 3. From the middle to the end of the year, clan operations began to wind down that brought the clan into a dormant
  state.
</p>

<h3>2015 - 2016</h3>
<p>
  No significant clan events were planned or executed in these two years. I was looking to find someone else to continue the
  clan but most people had new obligations or interests and could not dedicate the time necessary to run the clan.
</p>

<h3>2017</h3>
<p>
  In May of 2017 shortly after Blizzard announced "Starcraft: Remastered", I decided to see if there was any interest in restoring
  the clan. After reaching out to previous members, there was sufficient interest in this endeavor and operations were underway
  to restore the clan.
</p>

<p>
  With new technologies and communication tools available, we replaced Skype with Discord as our primary communication method.
  The Clan Agreement was updated to remove the antiquated rule of multi-clanning, and also reinstate the Final Fantasy Character
  requirement as it was a core part of what made the clan exciting. Instinct121 also returned to resume his role and chose
  to do a name change to Leo to satisfy the clan's returning requirement.
</p>

<p>
  There is an on-going initiative to overhaul the clan's infrastructure and we are planning to have a strong presence in Starcraft:
  Remastered.
</p>

<h3>2018</h3>
<p>
  <i>Work in progress...</i>
</p>

<h2>Present Leadership</h2>
<h3>Leaders</h3>
<div class="grid-container text-center">
  <div class="grid-x grid-padding-x small-up-2 medium-up-4">
    {% for leader in site.data.leadership.leaders %} {% include card_portrait.html character=leader %} {% endfor %}
  </div>
</div>

<h3>Judges</h3>
<div class="grid-container text-center">
  <div class="grid-x grid-padding-x small-up-2 medium-up-4">
    {% for judge in site.data.leadership.judges %} {% include card_portrait.html character=judge %} {% endfor %}
  </div>
</div>

<h2>Past Leadership</h2>
<h3>Judges</h3>
<div class="grid-container text-center">
  <div class="grid-x grid-padding-x small-up-2 medium-up-5">
    {% for judge in site.data.leadership.judges_past %} {% include card_portrait.html character=judge %} {% endfor %}
  </div>
</div>
<h2>References</h2>
<p>
  <a href="{{ site.baseurl }}{% link historyref.html %}">The provided page here</a> is a list of all events I had captured and logged. These are the original events and raw logs
  that show the characters, ideals, and behavior of each individual. Since these images and logs itself are larger than the
  history, they are provided an additional page.
</p>
<p class="text-center quiet">
  <i>Originally published on March 28, 2013</i>
</p>