--- 
layout: default 
title: History References
description: Raw chat logs and screenshots that demonstrate points from the clan's history.
icon: fas fa-book 
---

<h4>Pseudonyms</h4>
<p>
    Here are names you will see throughout the logs and screenshots, and the context of who they later become known as.
</p>
<ul>
    <li>
        IA-Balthier is "FFC-Cecil" on battle.net, and "FF4Cecil" on AIM.
    </li>
    <li>
        IA-Golbez is "FFC-Golbez" on battle.net, and "FFCGolbez" on AIM.
    </li>
    <li>
        FFC-Butz is "FFC-Butz" on battle.net, and "dafrigginstud" on AIM.
    </li>
    <li>
        FFC-Yuffie is "FFC-Yuffie" on battle.net, and "yuffear" on AIM.
    </li>
</ul>

<h4>Conversation regarding the new FFC website
    <small>1/23/2008</small>
</h4>
<p class="text-center">
    <img src="{{ site.baseurl }}{% link assets/history/ffcwebpreview.jpg %}" alt="Preview of proposed FFC website">
</p>
<blockquote class="quiet">
    {% include_relative _history/log_conversation_ffc_website1.html %}
</blockquote>
<blockquote class="quiet">
    {% include_relative _history/log_conversation_ffc_website2.html %}
</blockquote>

<h4>Initial confrontation by Yuffie
    <small>1/25/2008</small>
</h4>
<p class="text-center">    
    {% include imagelist.html path='assets/history/screenshots/yuffie1/' thumbnail='true' %}
</p>

<h4>Second confrontation by Yuffie
    <small>1/27/2008</small>
</h4>
<p class="text-center">
    {% include imagelist.html path='assets/history/screenshots/yuffie2/' thumbnail='true' %}
</p>

<h4>AIM Conversations with Butz and Yuffie
    <small>2/1/2008</small>
</h4>
<blockquote class="quiet">
    {% include_relative _history/log_butz_yuffie1.html %}
</blockquote>
<p>
    Some messages that were sent to me while I was not there:
</p>
<blockquote class="quiet">
    {% include_relative _history/log_butz_yuffie2.html %}
</blockquote>
<blockquote class="quiet">
    {% include_relative _history/log_butz_yuffie3.html %}
</blockquote>

<h4>Third confrontation by Yuffie
    <small>2/1/2008</small>
</h4>
<p class="text-center">
    {% include imagelist.html path='assets/history/screenshots/yuffie3/' thumbnail='true' %}    
</p>

<h4>Final conversation with Yuffie and Butz
    <small>2/2/2008</small>
</h4>
<blockquote class="quiet">
    {% include_relative _history/log_final_yuffie.html %}
</blockquote>

<h4>Final conversation with Butz, leading to the creation of IA
    <small>2/2/2008</small>
</h4>
<blockquote class="quiet">
    {% include_relative _history/log_final_butz.html %}
</blockquote>

<h4>FFC demanding an "apology" from IA
    <small>4/7/2008</small>
</h4>
<blockquote class="quiet">
    {% include_relative _history/log_ffc_demands_apology.html %}
</blockquote>

<h4>Yuffie's response to Golbez leaving FFC the second time to join and stay with IA
    <small>10/27/2009</small>
</h4>
<p class="text-center">
    <img class="thumbnail" src="{{ site.baseurl }}{% link assets/history/screenshots/lolyuffie.jpg %}" alt="Screenshot">
</p>