--- 
layout: default 
title: FFC Avatar Archive
author: Balthier
description: Collection of uniformly stylized avatars that were contributed to FFC.
icon: fas fa-images
---

<blockquote>
    <p>I was looking through my old hard drives as part of a clan history project I'm working on, and came across the set of
        avatars I had made for the entire FFC clan during my tenure there. I thought I'd share them here for anyone to use
        or just look at since it was a large collection. They don't say FFC on them so they are perfectly usable anywhere.
    </p>
    <p>I was trying to go for something cohesive by keeping the same styling on all of them, and the colors matched their forum
        at the time. I couldn't use a consistent font size because some members had long names. I remember this project taking
        me about a week or two. The time consuming part was finding good base images and cleaning them up before I could
        apply my filters and styles.</p>
    <cite>Balthier « on: May 12, 2012, 04:15:35 PM »</cite>
</blockquote>

<h3>Original Collection</h3>
<h4>2007</h4>
<p>
    {% assign avatars = 'assets/history/ffcaa/2007' %}
    {% include imagelist.html path=avatars %}
</p>

<h3>Throwback Collections</h3>
<p>
    To commemorate the 2 and 3 year anniversaries of FFC's disbanding, I created additional avatars by member request. This was
    available on the forums for a limited time of 1 month in May of the corresponding year. They were known as
    <em>Throwback Collections</em>.
</p>

<h4>2012</h4>
<p>
    {% assign avatars = 'assets/history/ffcaa/2012' %}
    {% include imagelist.html path=avatars %}
</p>

<h4>2013</h4>
<p>
    {% assign avatars = 'assets/history/ffcaa/2013' %}
    {% include imagelist.html path=avatars %}
</p>