--- 
layout: default 
title: Ivalice Alliance
keywords: ivalice alliance, gaming, community, clan, final fantasy
description: Information about the community such as mission, leadership, and responsibilities.
hidden_title: true
---

<div class="text-center pal">
  <img src="{{ site.baseurl }}{% link assets/images/logo.png %}" alt="Ivalice Alliance Logo" style="max-width: 280px; width: 100%;" />
</div>

<p>
  The
  <strong>
    <em>Ivalice Alliance</em>
  </strong> is a Final Fantasy themed community that features a unique character system inspired by
  the Final Fantasy series. It operates on a Discord server as a community that supports any topics and games that members
  are interested in.</p>

<h3 id="mission">
  Mission
</h3>
<p>To facilitate a Final Fantasy themed community with honor, integrity, and excellence.</p>

<h3 id="leadership">
  Leadership
</h3>
<h5>Leaders</h5>
<p>Responsible for all daily management of the community and for implementing short and long term plans. They shall make fair decisions
  in the best interest of the community.</p>
<div class="grid-container text-center">
  <div class="grid-x grid-margin-x align-center small-up-2 medium-up-4">
    {% for leader in site.data.leadership.leaders %}
      {% include card_sprite.html character=leader %}
    {% endfor %}
  </div>
</div>
<h5>Judges</h5>
<p>Responsible for the daily operation of the community and provide counsel to Leaders.</p>
<div class="grid-container text-center">
  <div class="grid-x grid-margin-x align-center small-up-2 medium-up-4">
    {% for judge in site.data.leadership.judges %} 
      {% include card_sprite.html character=judge %} 
    {% endfor %}
  </div>
</div>