<footer class="site-footer grid-x grid-padding-x mtl" role="contentinfo">
    <div class="large-12 cell">
        <hr>
        <p class="text-center">
            <small>
                <i class="far fa-copyright"></i> {{ site.title }} {{ site.year }} - {{ site.time | date: '%Y' }} | All Rights Reserved.
                <br>
                <a href="https://github.com/{{ site.github }}/">
                    <i class="fab fa-github"></i> @{{ site.github }}
                </a>
            </small>
        </p>
    </div>
</footer>